
+MBeautifier/+Configuration/Configuration.m
+MBeautifier/+Configuration/KeywordPaddingRule.m
+MBeautifier/+Configuration/OperatorPaddingRule.m
+MBeautifier/+Configuration/SpecialRule.m
+MBeautifier/CharacterArrayStringMemento.m
+MBeautifier/Constants.m
+MBeautifier/Directive.m
+MBeautifier/DirectiveChange.m
+MBeautifier/DirectiveChangeType.m
+MBeautifier/DirectiveDirector.m
+MBeautifier/GeneralFormattingDirective.m
+MBeautifier/MFormatter.m
+MBeautifier/MIndenter.m
+MBeautifier/NoDirectiveChanged.m
+MBeautifier/StringArrayStringMemento.m
+MBeautifier/StringMemento.m
+MBeautifier/StringMemory.m
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE
MBeautify.m
MBeautyShortcuts.m
resources/settings/MBeautyConfigurationRules.xml
resources/testdata/testfile.m
resources/testdata/testfile_bugs.m
*.asv
